<main id="root">
  <div class="" style="text-align: center">
    <img src="http://res.cloudinary.com/deeptailor/image/upload/e_saturation:67/v1477933247/coming_soon_ege61n.png" alt="under construction" width="60%"/>
  </div>
</main>
