.albums-showpage-container{
  display:flex;
  /*flex-direction: column;*/
  min-height: 100vh;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 0.9;
}

.albums-showpage-right-column{
  position: fixed;
  left: 8.8vw;;
  top: 0;
}

.song-list-container{
  margin: 10vh 5vh;
}

.song-list-container > h2 {
  font-size: 24px;
  padding: 15px 15px 15px 0;
}

.song-title-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
  min-width: 40vw;
}

.song-title-container:hover{
  color: white;
  background-color: black;
  opacity: 0.7;
}

.buttons-on-songs{
  font-size: 30px;
  width: 10%;
  display:flex;
  justify-content: space-between;
}

.albums-showpage-right-column{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
