.albums-showpage-container{
  display:flex;
  /*flex-direction: column;*/
  min-height: 100vh;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 0.9;
}

.album-art-container-album-showpage{
  border: 2px solid black;
  border-radius: 7px;
  height:36vh;
  width: 36vh;
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.albums-showpage-right-column{
  position: fixed;
  left: 8.8vw;;
  top: 0;
}

.song-list-container{
  margin: 10vh 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-list-container > h2 {
  font-size: 24px;
  padding: 15px 15px 15px 0;
}

.song-title-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px ;
  margin: 2px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
  min-width: 40vw;
  position: relative;
}

.song-title-container:hover{
  color: white;
  background-color: black;
  opacity: 0.7;
}

.add-song-to-que{
  position: absolute;
  padding: 2px;
  right: -15vh;;
  bottom: 0;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  display: none;
}

.add-song-que:hover + .add-song-to-que{
  display:block;
}
.add-song-que{
  max-height: 32px;
}

.play-song{
  max-height: 32px;
}

.buttons-on-songs{
  font-size: 30px;
  width: 10%;
  display:flex;
  justify-content: space-between;
}

.albums-showpage-right-column{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
