.audio-bar-container{
  display: flex;
  height: 3vh;
  border-radius: 0 5px 5px 0;

  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding: 5px;
  bottom:0;
  left: 0;
  width: 40%;
  background: black;
  opacity: 0.7;
  text-align: center;
  left: 0;
  margin: 0 auto;
}

.audio-bar-container.notfixed{
  display: flex;
  position: absolute;
  height: 3vh;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  bottom:0;
  left: 0;
  width: 40%;
  background: black;
  opacity: 0.7;
  text-align: center;
  left: 0;
  margin: 0 auto;
}


.progress-bar{
  width: 30%;
  height: 2px;
  background-color: white;
  position: relative;
}

.progress-bar-color{
  height: 100%;
  background-color: #3cff00;
  z-index: 2;
  position: absolute;
  left:0;
}

.loaded-bar-color{
  background-color: grey;
  height: 100%;
  z-index: 1;
}

.audio-controls{
  font-size: 24px;
  color: white;
  display: flex;
  padding: 5px 10px 0 0;
}

.audio-bar-song-name{
  color: white;
  min-width: 40%;
  max-width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0 10px;
  padding-left: 10px;
}

.audio-bar-options{
  padding: 5px 0 0 10px;
}

.audio-que{
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 1px 2px 1px 2px;
  width: 15px;
  height: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-left: 20px;
  position: relative;
}
.audio-que:hover{
  cursor: pointer;
}

.que-list{
  display: none;
  list-style: circle;
  position: absolute;
  background: white;
  min-width: 10vw;
  min-height: 20vh;
  max-height: 20vh;
  top: -22.5vh;
  left: -9.3vw;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 5px;
  overflow: scroll;
}

.que-list > h3 {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
