.nav-container{
  position: fixed;
  background: rgba(0,0,0,0.75);
  width: 100%;
  z-index: 100;
  left: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
}

/*.nav-container:hover{
  opacity: 1;
}*/

.nav-bar-top{
 display: flex;
 justify-content: space-between;
 width: 80%;
 margin: 0 auto;
 padding: 15px;
}

.nav-bar-top > div{
 margin: auto 0;
}

.nav-bar-center-tabs{
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.nav-bar-explore:hover{
  color: #3cff00;
}

.search-bar{
  -webkit-appearance: none;
  font-size: 16px;
  padding: 5px;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
}

.logo-header{
 font-family: 'Rubik One', sans-serif;
 font-size: 30px;
 color: white;
}

.pause{
 color: grey;
}
.play{
 color: #3cff00;
}

a:link{
 text-decoration: none;
}
a:-webkit-any-link{
 color: white;
}

.login-signup{
 font-family: 'Montserrat', sans-serif;
 display: flex;
 justify-content: space-between;
 width: 15%;
 border-left: 2px solid #c1c3c6;
 padding-left: 40px;
}

.login{
 color: #c1c3c6;
}

.signup{
 color: #c1c3c6;
}

.login:hover{
 color: #3cff00;
 cursor: pointer;
}

.signup:hover{
 color: #3cff00;
 cursor: pointer;
}
