.playlist-index-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13.5vh;
}

.playlist-index-container > h1 {
  padding: 1vh 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 20px;
  background:black;
  color: white;
  text-align: center;
  opacity: 0.7;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.playlists-container{
  padding: 5vh 0 0 0;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.create-playlist{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.create-playlist:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.create-playlist:hover > i{
  color: #3cff00;
}

.playlists-navigate{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.my-playlists{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: black;
}

.my-playlists:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.my-playlists:hover > i{
  color: #3cff00;
}
