.playlist-showpage-container{
  display:flex;
  min-height: 100vh;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 0.9;
}

.playlist-description{
  margin-top: 2vh;
  padding: 1vh;
  border: 1px solid black;
  width: 35vh;
  background-color: white;
  border-radius: 5px;
}

.playlist-description > h3 {
  margin-bottom: 1vw;
  border-bottom: 1px solid black;
  text-align: center;
}

.playlist-showpage-playlist-name{
  border-radius: 5px;
  border: 1px solid black;
  font-size: 22px;
  padding: 0.8vh;
  min-width: 100%;
  text-align: center;
}

.add-all-songs-to-que{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 0.7;
  color: white;
  border-radius: 8px;
  width: 16%;
  margin: 0 4px 0 0;
  padding: 4px 5px 4px 0;
  padding-left: 0;
}

.add-all-songs-to-que:hover{
  cursor: pointer;
  color: #3cff00;
}

.song-list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.song-list-header > h2 {
  font-size: 24px;
  margin: 0 0 0 4px;
}

.song-list-empty{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
